:root { /*vars*/
    --select-bar-factor: 20;
}

.nav-bar{ /*entire bar*/
    display: flex;
    height: 8vh;
    flex-direction: row;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 6px;
}

.nav-item{ /*individual items*/
    width: 100%;
    background-color: #5BD780;
    margin: 0px;
    transform-origin:center center;
    position: relative;
}

.nav-text { /* text in each individual item*/
    color: #00A362;
    font: normal 100 0px "Roboto", sans-serif;
    text-align: center;
    bottom: 0;
    position: relative;
    transform-origin: center center;
    top: 25%;
    bottom: 75%;
}

.nav-item:first-of-type { /*rounded corners for first nav-item */
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.nav-item:last-of-type { /*rounded corners for last nav-item */
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.select-bar { /*selection bar, base properties*/
    background-color: #00804d;
    position:absolute;
    width: 4px;
    top: 93%;
    transform-origin:center center;
    left: 50%;
    right: 50%;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
}

.nav-item:hover .select-bar { /*scale select bar when hovered*/
    visibility: visible;
    transform: scaleX(var(--select-bar-factor));
}