.title {
    display: flex;
    justify-content: center;
}


#add-books { 
    width: fit-content;
    font-family: "Arial", sans-serif;
    font-weight: 500;
    font-size: 35px;
    margin: 40px auto 10px auto;
    line-height: 2;
}

/* .add-books-input {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    margin: auto;
}*/

#add-books-form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.label-text {
    font: normal 100 25px "Roboto", sans-serif;
    position: relative;
    width: 95%;
    /* margin: 30px auto; */
    line-height: 1.8;
}

.isbn-container {
    display: flex;
    flex-direction: column; 
    width: 95%; 
    /* padding-left: 20px; */
    /* padding-right: -20px; */
    margin-bottom: 2%;
} 

label {
    /* display: block; */
    font-size: 1.2rem;
    margin-bottom: 5px;
} 
  
.add-books-input {
    padding: 15px;
    border: 10px solid rgb(235, 235, 235);
    border-radius: 5px;
    font-size: 1.2rem;
    /* margin-bottom: 10px; */
}