body {
    background-color: #cde3c9;
    min-width: 500px; 
    min-height: 1000px; 
}

#main-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}


.main-text-background { /*background for main text block*/
    position: relative;
    flex-direction: row;
    height: auto;
    width: 90%;
    /* box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5); */
    background-color: #ffffff;
    transform: scaleX(1);
    border-radius: 7px;
    /* border-top-right-radius: 7px; */
    /* border-top-left-radius: 7px; */
    margin: 20px auto 0px auto;
}

.main-text { /*main text block styles*/
    font: normal 100 25px "Roboto", sans-serif;
    position: relative;
    width: 95%;
    margin: 30px auto;
    line-height: 1.8;
}

#welcome { 
    width: 95%;
    font-family: "Arial", sans-serif;
    font-weight: 500;
    font-size: 35px;
    margin: 40px auto 10px auto;
    line-height: 2;
}


#bottom-test { /*possible contacts section on bottom of screen*/
    display: block;
    flex-direction: row;
    position: absolute;
    left: 0;
    right: 0;
    height: 30vh;
    width: 100%;
    background-color: #2d392f;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 30px;
}

#trending-background { /*background for possible trending books section (or something similar)*/
    position: relative;
    flex-direction: column;
    height: 30vh;
    width: 95%;
    margin: 30px auto;
    background-color: #f1f1f1;
    border-radius: 7px;
}

#home-trending-background {
    position: relative;
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 95%;
    margin: 30px auto;
    background-color: #f1f1f1;
    border-radius: 7px;
    flex-wrap: wrap;
    padding: 10px;
}

.home-trending-book {
    display: flex;
    flex-direction: column;
    padding: 13px;
    justify-content:center;
    text-align: center;
    /* max-width: 10%; */
    width: 175px;
    background-color: rgb(249, 249, 249);
    border-radius: 7px;
}

#book-title { 
    width: 95%;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin: 10px auto;
    line-height: 1.2;
}

/* .home-trending-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} */

/* SEARCH BAR */
#title-and-search { /*flex container to make the title and search bar on the same line*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 2% -20px 2%;
}

.search input[type=text]{ /*input tag children of search class of type text*/
    width: auto;
    height: auto;
    border-radius: 10px;
    border: none;
    font-size: 1.7em;
    padding: 0.3em;
}

#search-bar-background { /*gray background for search bar*/
    position: relative;
    /* flex-direction: row; */
    height: fit-content;
    width: fit-content;
    margin: 30px auto;
    background-color: #f1f1f1;
    border-radius: 7px;
    /* box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5); */
}

.search { /*search container form*/
    margin: 15px;
    display:flex;
    flex-direction: row;
}

#search-button {
    flex-direction:row;
    width: 6em;
    height: auto;
    margin-left: 15px;
    float: right;
    border: none;
    background-color: #345738;
    border-radius: 5px;
    color: #e4e4e4;
    font-size: 25px;
}

#search-button:hover { /*when you hover over search button*/
    background-color: #34713d;
}

#search-error {
    color: red;
    font: normal 200 20px "Roboto", sans-serif;
}

#search-container {
    display: flex;
    flex-direction: column;
}